@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body {
    width: 100vw;
    overflow-x: hidden;
    background-color: #FFFFF2;
    /* background-image: url(https: //unsplash.com/photos/green-and-blue-color-illustration-K5OLjMlPe4U); */
}

#app {
    width: 100vw;
    overflow-x: hidden;
}

.hero {
    font-family: 'Orbitron';
}

#homepage {
    background-position: center;
    background-image: url("./images/img1.webp");
    background-size: cover;
    position: relative;
    background-color: rgba(22, 111, 123, 1);
    height: 100vh;
}

#overlay {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg,rgba(22, 111, 123, 1),rgba(22, 111, 123, 0.8), rgba(29,204,126,0.8));
}

#about h1{
    font-family: 'Orbitron';
}

#about{
    position: relative;
    /* background-color: #8ED1FC; */
}